<h1 class="text-2xl font-bold mb-4">Detalhes do Frete</h1>

<p><strong>ID:</strong> <%= @frete.id %></p>
<p><strong>Valor total:</strong> R$ <%= number_with_precision(@frete.valor_frete, precision: 2) %></p>
<p><strong>Comissão (%):</strong> <%= @frete.comissao_percentual %>%</p>
<p><strong>Valor da Comissão:</strong> R$ <%= number_with_precision(@comissao, precision: 2) %></p>
<p><strong>Valor para o Transportador:</strong> R$ <%= number_with_precision(@valor_transportador, precision: 2) %></p>
