<h2 class="text-lg font-semibold mb-4">Cadastrar Cliente</h2>
<%= form_with(model: @cliente, url: admin_clientes_path, local: true, class: "space-y-4") do |form| %>
  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "input" %>
  </div>
  <div>
    <%= form.label :cpf %>
    <%= form.text_field :cpf, class: "input" %>
  </div>
  <div>
    <%= form.label :cep_destino %>
    <%= form.text_field :cep_destino, class: "input" %>
  </div>
  <div>
    <%= form.label :tipo_carga %>
    <%= form.text_field :tipo_carga, class: "input" %>
  </div>
  <div>
    <%= form.label :descricao %>
    <%= form.text_area :descricao, class: "input" %>
  </div>
  <div>
    <%= form.label :descarregar_em %>
    <%= form.text_field :descarregar_em, class: "input" %>
  </div>
  <%= form.submit "Salvar", class: "bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded" %>
<% end %>
