<h1><%= @transportador.nome %></h1>
<p><strong>CPF:</strong> <%= @transportador.cpf %></p>
<p><strong>Endereço:</strong> <%= @transportador.endereco %></p>
<p><strong>CEP:</strong> <%= @transportador.cep %></p>
<p><strong>Habilitação:</strong> <%= @transportador.numero_habilitacao %></p>
<p><strong>Tipo Veículo:</strong> <%= @transportador.tipo_veiculo %></p>
<p><strong>Capacidade:</strong> <%= @transportador.capacidade_kg %> kg</p>
<p><strong>Tipo Cobrança:</strong> <%= @transportador.tipo_cobranca %></p>
<p><strong>Valor Cobrança:</strong> R$ <%= @transportador.valor_cobranca %></p>
