<div id="<%= dom_id solicitante %>">
  <p>
    <strong>Nome:</strong>
    <%= solicitante.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= solicitante.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= solicitante.telefone %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= solicitante.endereco %>
  </p>

</div>
